<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ML WorkBench</title>
    <style>
      {% include 'styles.css' %}
    </style>
  </head>
  <body>
    <h1>Welcome to Machine Learning Playground</h1>
    <hr class="line-orange-center">
    <h2>Upload your CSV:</h2>
    <form method="POST" action="http://127.0.0.1:5000/letsplay_classification" enctype=multipart/form-data>
    <label for="file-upload" class="custom-file-upload">
      <i class="fa-cloud-upload"></i> Choose File 
  </label>
  <input id="file-upload" type="file" id="file-input" name="file-input" accept=".csv"/>
  <br><br>
  <div id="file-upload-filename"></div>
<h2>Choose your algorithm:</h2>
    <select id="algo" name="algo">
      <option value="dt">Decision Trees</option>
      <option value="gbc">Gradient Boosting Classifier</option>
      <option value="gpc">Gradient P Classifier</option>
      <option value="kmeans">K Means</option>
      <option value="knn">K Nearest Neighbors</option>
      <option value="lr">Logistic Regression</option>
      <option value="mlp">Multi Layer Perceptron</option>
      <option value="nb">Naive Bayes</option>
      <option value="rf">Random Forest</option>
      <option value="sgd">Stochastic Gradient Descent</option>
      <option value="svm">SVM</option>
    </select>
    <br><br>
    <input type="submit" class="button" value="Let's do this!" id="subm" >
    <br>
    <br>
    <br>
    <hr>
    <h2>Instructions:</h2>
    <ul>
      <li>Please make sure that you are using a CSV file which is prepared to undergo machine learning training.</li>
      <li>Format the data to make it consistent. Re-scale the data if needed. 
      <li>Since data cleaning is not included in the application, make sure you clean the data by using Pandas and sklearn libraries.
      <li>Please arrange the CSV such that the target feature is the first column of the CSV. The application is designed to read the CSV such that the target feature is followed by all the other features.
    </ul>
  <a href="/"> Back to Home Page </a>
  </form> 
    <script>
      {% include 'scripts.js' %}
    </script>
    <script>
        /*
           Bind listeners when the page loads.
        */
         (() => {
          document.getElementById('file-upload').onchange = uploadDone;
        })();
    </script>
  </body>
</html>
