<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ML WorkBench</title>
    <style>
      {% include 'styles.css' %}
    </style>
  </head>
  <body>
    <h1>An Interactive Explorer for Machine Learning datasets</h1>
    <hr class="line-orange-center">
    <p>
        <h2>Select the features to be included in the Random Forest Model</h2>
    </p>
    <p>
        Prepared by <b>Adil Khan</b>.
    </p>
    <p>
        <a href="http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier" target="_blank">Click here </a>for more information on the parameters </p>
  </body>
</html>
