<style>
h1 {
    margin: 1em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
p {
    font: "Libre Baskerville", sans-serif;
    text-align: justify;
    text-justify: inter-word;
    width: 80%;
    max-width: 800;
}

hr.line-orange-center {
            border: 0;
            height: 3px;
            background-color: #f57e3a;
            width: 1100px;}

</style>


<h1>An Interactive Explorer for Machine Learning datasets</h1>
<hr class="line-orange-center">
<p>
<h2>Select the features to be included in the Random Forest Model</h2>
</p>
<p>
Prepared by <b>Adil Khan</b>.
</p>

<p><a href="http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier" target="_blank">Click here </a>for more information on the parameters </p>

