<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ML WorkBench</title>
    <style>
      {% include 'styles.css' %}
    </style>
  </head>
  <body>
    <h1>Welcome to Machine Learning Playground</h1>
    <hr class="line-orange-center">
    <h2>What do you want to do? </h2>
    <p><a href="{{ url_for('classification') }}">Classification</a></p>
    <p>Classify your target feature on the basis of a training set of data with observations whose label is known. </p>
    <br>
    <p><a href="{{ url_for('regression') }}">Regression</a></p>
    <p>Predict continuous values based on the relationship of the target and predictor values.</p>
  </body>
</html>