<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ML WorkBench</title>
    <style>
      {% include 'styles.css' %}
    </style>
  </head>
  <body>
      <form method="POST" action="http://127.0.0.1:5000/nextpage_regression" enctype=multipart/form-data>
        <select id="algo" name="algo">
          <option value="" selected disabled hidden>Choose a different algorithm</option>
          <option value="ll">Linear Regression</option>
            <option value="rdg">Ridge Regression</option>
          </select>
        <input type="submit" class="button" value="Go" id="subm" disabled="true">
        <a class="quit" href="{{ url_for('regression') }}"> Quit Session </a> 
      </form> 
      <h1>An Interactive Explorer for Machine Learning datasets</h1>
      <hr class="line-orange-center">
 {{bokeh_script|safe}}
    <script>
      {% include 'scripts.js' %}
    </script>
 <script>
        /*
           Bind listeners when the page loads.
        */
         (() => {
            document.getElementById('algo').onchange = enableButton;
          })();
    </script>
  </body>
</html>